USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRABROKER')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRABROKER', coalesce(cast((select max(codbroker) from TRABROKER) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAMEM', coalesce(cast((select max(CODMEM) from TRAMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRACFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRACFG', coalesce(cast((select max(CODCFG) from TRACFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAUSRSET', coalesce(cast((select max(CODUSRSET) from TRAUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAUSRCFG', coalesce(cast((select max(CODUSRCFG) from TRAUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWKFACT', coalesce(cast((select max(CODWKFACT) from TRAWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWKFCON', coalesce(cast((select max(CODWKFCON) from TRAWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWKFLIG', coalesce(cast((select max(CODWKFLIG) from TRAWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWKFLOW', coalesce(cast((select max(CODWKFLOW) from TRAWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRANOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRANOTIFI', coalesce(cast((select max(CODNOTIFI) from TRANOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRASCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRASCRCRD', coalesce(cast((select max(CODSCRCRD) from TRASCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAPOSTIT', coalesce(cast((select max(CODPOSTIT) from TRAPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAPRMFRM', coalesce(cast((select max(CODPRMFRM) from TRAPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAALERTA', coalesce(cast((select max(CODALERTA) from TRAALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAALTENT', coalesce(cast((select max(CODALTENT) from TRAALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRATALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRATALERT', coalesce(cast((select max(CODTALERT) from TRATALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRADELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRADELEGA', coalesce(cast((select max(CODDELEGA) from TRADELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRALSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRALSTUSR', coalesce(cast((select max(CODLSTUSR) from TRALSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRALSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRALSTCOL', coalesce(cast((select max(CODLSTCOL) from TRALSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRALSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRALSTREN', coalesce(cast((select max(CODLSTREN) from TRALSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAUSRWID', coalesce(cast((select max(CODUSRWID) from TRAUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRATBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRATBLCFG', coalesce(cast((select max(CODTBLCFG) from TRATBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from TRAWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'TRAWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('TRAWORKFLOWTASK', coalesce(cast((select max(CODTASK) from TRAWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 