*{traagent}*
USE [W_GnBD]
GO
*{trabroker}*
USE [W_GnBD]
update [trabroker] set [lastsold] = tmptab1.[solddate] from [trabroker] inner join (select tmpFromTab.[BROKERS_FK], max(tmpFromTab.[id]) as uData from [traproperty] as tmpFromTab  group by tmpFromTab.[BROKERS_FK]) as tmptab2 on [trabroker].[codbroker] = tmptab2.[brokers_fk] inner join [traproperty] as tmptab1 on [trabroker].[codbroker] = tmptab1.[brokers_fk] where tmptab1.[id] = tmptab2.uData
update [trabroker] set [lastsold] = NULL where not exists(select [src].[brokers_fk] from [traproperty] [src] group by [src].[BROKERS_FK])
GO
*{tracountry}*
USE [W_GnBD]
GO
*{tramem}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{tracity}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{traproperty}*
USE [W_GnBD]
GO
*{tracontact}*
USE [W_GnBD]
GO
*{traphoto}*
USE [W_GnBD]
GO
